.inline-form input {
	display: inline-block;
	width: 100px;
}

.couleur-grise {
	background-color: #f5f5f5;
}

.couleur-verte {
	background-color: #1d5c49;
}

/*fin utile*/
header {
	background-color: #1d5c49; /*#4a8541;*/
	height: 100px;
	top: 10px;
	width: auto;
}

.tete {
	width: 800px;
	margin: auto;
	text-align: center;
}

header img {
	width: 200px;
	height: 100px;
	margin: auto;
}

.prezimg {
	width: 150px;
	height: 100px;
}

.prezlist {
	height: 110px;
	list-style-type: none
}
[class*="col-"], footer {
  background-color: lightgreen;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
}
